@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Manrope:wght@300;400;500&family=Poppins:wght@200;500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f9f9f8;
}
.addBorder {
  border: 2px solid black;
}
.centerDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.theamColor {
  background-color: #1e3933;
}

.baseColor {
  color: #1e3933;
}

.centerToPage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.addFont {
  font-family: "Poppins", sans-serif;
}

.hide {
  display: none;
}

.addShadow {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.placeHolder::placeholder {
  opacity: 0.8;
  /* transform: translateX(3%); */
  font-size: 0.9rem;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
